<div class="container">
    <div class="row" style="display: flex;">
        <div class="card" style="width: 20rem;margin: 20px auto;">
            <img class="card-img-top" height="250" src="assets/img/category/c1.png" alt="Card image cap" />
            <div class="card-body">
                <h4 class="card-title">Persoanl Care</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a class="btn btn-primary" (click)="redirect('Persoanl Care')">See more</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;margin: 20px auto;">
            <img class="card-img-top" height="250" src="assets/img/category/c2.png" alt="Card image cap" />
            <div class="card-body">
                <h4 class="card-title">Household need</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a  class="btn btn-primary" (click)="redirect('Household need')">See more</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;margin: 20px auto;">
            <img class="card-img-top" height="250" src="assets/img/category/c3.png" alt="Card image cap" />
            <div class="card-body">
                <h4 class="card-title">Beverages</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a  class="btn btn-primary" (click)="redirect('Beverages')">See more</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;margin: 20px auto;">
            <img class="card-img-top" height="250" src="assets/img/category/c4.jpg" alt="Card image cap" />
            <div class="card-body">
                <h4 class="card-title">Pet care</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a  class="btn btn-primary" (click)="redirect('Pet care')">See more</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;margin: 20px auto;">
            <img class="card-img-top" height="250" src="assets/img/category/c5.png" alt="Card image cap" />
            <div class="card-body">
                <h4 class="card-title">Vegitable & foods</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a  class="btn btn-primary" (click)="redirect('Vegitable & foods')">See more</a>
            </div>
        </div>
    </div>
</div>