<!-- <nav class="navbar fixed-top navbar-light bg-white pt-0 pb-0">
    <span class="navbar-brand mb-0">
        <h2><strong>Pace</strong></h2>
    </span>
    <span class="col-md-6 inner-addon right-addon">
        <i class="fa fa-search"></i>
        <input class="form-control mr-sm-2" type="search" placeholder="Search for an invoice, customer or vendor"
            aria-label="Search">
    </span>
    <span class="h6" style="color:dimgray" id="profile">
        Welcome,Nick
        <img class="ml-2" src="assets/images/no-photo.png" width="30" height="30">
    </span>
</nav> -->
<div style="display: flex;">
    <div class="col-md-2" style="padding: 0px;">
        <app-sidenav></app-sidenav>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>

</div>